Tugas 2 - Modul 8 Implementasi ai untuk SDM - auto generated interview question.json
{
  "name": "Tugas 2 - Modul 8 Implementasi ai untuk SDM - auto generated interview question",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "06309726-2006-4dae-8421-2aa3d3b6a360",
      "name": "Loop Over Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        736,
        256
      ]
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "=Nama kandidat: {{ $('Data Dummy').item.json.candidate_name }} \n\n{{ $json.text.replace(/<think>[\\s\\S]*?<\\/think>/, '').trim() }}",
        "additionalFields": {}
      },
      "id": "7ce6d54d-19f4-44fe-8784-5c1b66330b37",
      "name": "Kirim Hasil Pertanyaan",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1488,
        272
      ],
      "webhookId": "f93dd315-2d5f-444f-a8e0-aa14ec81f4fc",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 101,\n      candidate_name: \"Budi Santoso\",\n      email: \"budi.devops@email.test\",\n      position: \"Senior DevOps Engineer\",\n      claimed_skills: \"Kubernetes, Helm, Terraform\",\n      past_company_type: \"Agensi Digital Marketing (Non-Tech Product)\",\n      years_experience: 3,\n      interview_status: \"Scheduled\"\n    }\n  },\n  {\n    json: {\n      id: 102,\n      candidate_name: \"Siti Aminah\",\n      email: \"siti.backend@email.test\",\n      position: \"Backend Engineer\",\n      claimed_skills: \"Microservices, Kubernetes, GoLang\",\n      past_company_type: \"Bank Konvensional (Legacy System)\",\n      years_experience: 5,\n      interview_status: \"Scheduled\"\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        256
      ],
      "id": "ca1846b3-e6f0-4b96-912d-e11cc6714ea0",
      "name": "Data Dummy"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const candidate = item.json;\n  const role = candidate.position || \"Software Engineer\";\n  const skills = candidate.claimed_skills;\n  const background = candidate.past_company_type;\n  \n  const systemPrompt = `\n  Role: You are a Senior Technical Interviewer for a ${role} position. \n  Your goal is to validate the technical depth of a candidate named ${candidate.candidate_name}.\n  \n  CONTEXT:\n  The candidate claims expertise in: ${skills}.\n  However, their background is from: ${background}.\n  \n  TASK:\n  Generate 5 advanced technical interview questions (Studi Kasus) to verify if they truly understand the internal workings of the tech stack.\n  \n  STRICT RULES (WAJIB DIIKUTI):\n  1. DO NOT include any \"Chain of Thought\", \"reasoning\", or \"<think>\" tags. \n  2. JAWAB LANGSUNG ke poin utama dalam Bahasa Indonesia.\n  3. Batasi TOTAL karakter output maksimal 2000 karakter.\n  4. Jangan bertele-tele dalam penjelasan ekspektasi jawaban.\n  \n  OUTPUT FORMAT (Markdown):\n  1. **Topik**: [Nama Topik]\n     - **Pertanyaan**: [Studi Kasus Spesifik]\n     - **Ekspektasi Jawaban Senior**: [Poin Kunci Singkat]\n  `;\n\n  item.json.llm_prompt = systemPrompt;\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        960,
        272
      ],
      "id": "0897aa06-007d-45aa-b0e7-39dab468bc58",
      "name": "Prompt Builder"
    },
    {
      "parameters": {
        "jsCode": "\nconst aiQuestion = items[0].json.text; \n\n\nconst candidateName = $('Loop Over Items').item.json.candidate_name;\n\nlet mockAnswer = \"\";\n\nif (candidateName.includes(\"Budi\")) {\n  mockAnswer = \"Untuk masalah CrashLoopBackOff, saya akan cek logs pod pakai kubectl logs, lalu describe pod untuk lihat events. Biasanya karena configmap salah atau app panic saat startup.\";\n} else {\n  mockAnswer = \"Saya biasanya restart servernya pak. Kalau masih error saya install ulang Kubernetesnya.\";\n}\n\nreturn [\n  {\n    json: {\n      question: aiQuestion,\n      candidate_answer: mockAnswer,\n      candidate_name: candidateName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        704,
        624
      ],
      "id": "1e5c28f8-97c7-46c8-92e0-c0355bd26420",
      "name": "Mock Jawaban"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst prompt = `\nROLE: You are a Senior Hiring Manager.\nTASK: Evaluate the candidate's answer based on the technical question provided.\n\nDATA:\n- Candidate Name: ${data.candidate_name}\n- Question Given: \"${data.question.substring(0, 200)}...\" (Truncated for brevity)\n- Candidate Answer: \"${data.candidate_answer}\"\n\nINSTRUCTION:\nGive a score (0-100) and a brief critique.\n- If the answer shows deep troubleshooting steps (logs, events, root cause), give HIGH score.\n- If the answer is generic (restart server, reinstall), give LOW score (Red Flag).\n\nOUTPUT FORMAT (Indonesian):\n**Penilaian untuk ${data.candidate_name}**\n--------------------------\n🎯 **Skor:** [0-100]\n💡 **Analisa:** [Penjelasan singkat 1 kalimat]\n🚫 **Keputusan:** [LOLOS / GAGAL]\n`;\n\nreturn [\n  {\n    json: {\n      eval_prompt: prompt\n    }\n  }\n];\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        624
      ],
      "id": "de65b6ad-5b30-41b1-b511-6eaafdffa5ee",
      "name": "Evaluator"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.eval_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1008,
        624
      ],
      "id": "85c81509-9c3b-45dc-9409-ba84ecc71a72",
      "name": "Evaluator Prompt"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        384,
        256
      ],
      "id": "0d49ee15-5c39-4518-a2b2-680433a8de6e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "=Nama kandidat: {{ $('Data Dummy').item.json.candidate_name }} {{ $json.text }}",
        "additionalFields": {}
      },
      "id": "096318ed-0838-4737-ac2c-bc356e28c347",
      "name": "Kirim Hasil Evaluator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        1296,
        624
      ],
      "webhookId": "f93dd315-2d5f-444f-a8e0-aa14ec81f4fc",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1136,
        272
      ],
      "id": "288dcfe4-e277-46e2-aa86-f174408a1c6d",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        1136,
        400
      ],
      "id": "34fda145-12db-4186-85e2-39b114a43f50",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VHJBc5uArI2eFUra",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-20b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1008,
        784
      ],
      "id": "0ed5e221-6fce-4ecc-b0a1-98b06f1b8c1a",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2j8B6sTmCQLaXBDp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "content": "## GENERATED \n",
        "height": 368,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        160
      ],
      "typeVersion": 1,
      "id": "27f07301-dc73-4369-b121-6138d5ec743a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## EVALUATION\n",
        "height": 368,
        "width": 1440
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        288,
        560
      ],
      "typeVersion": 1,
      "id": "fbffec04-0fba-40be-8ae7-e66f306b10b8",
      "name": "Sticky Note1"
    }
  ],
  "pinData": {},
  "connections": {
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Prompt Builder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Data Dummy": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prompt Builder": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mock Jawaban": {
      "main": [
        [
          {
            "node": "Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator": {
      "main": [
        [
          {
            "node": "Evaluator Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluator Prompt": {
      "main": [
        [
          {
            "node": "Kirim Hasil Evaluator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Data Dummy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kirim Hasil Pertanyaan": {
      "main": [
        []
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Kirim Hasil Pertanyaan",
            "type": "main",
            "index": 0
          },
          {
            "node": "Mock Jawaban",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Evaluator Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "9674ceec-81ea-44dc-a38b-9562b22ef4c0",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c0ef153f7930e565ad160435282be5c9c56963458788d102e98ccae3c60878"
  },
  "id": "84FzhhkQPQ6BofCW",
  "tags": []
}