Tugas 5 - Ghiyadhika - Modul 8 Implementasi ai untuk SDM -  SOP Otomation Bot.json
{
  "name": "Tugas 5 - Ghiyadhika - Modul 8 Implementasi ai untuk SDM -  SOP Otomation Bot",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -144,
        -336
      ],
      "id": "48ae41af-5f20-4763-ba8e-9ebb6be11aaa",
      "name": "Telegram Trigger",
      "webhookId": "216b944d-6756-4c3e-afaf-b625f1c6b2d0",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    },
                    "id": "824194fe-a68d-42fd-ae4d-c40619cfed50"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "e8191152-9455-468f-afca-dd6cedfe3f1a",
                    "leftValue": "={{ $json.callback_query.data }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "notEmpty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        128,
        -336
      ],
      "id": "d123876a-2849-4e0c-afe8-7b8bc06520a0",
      "name": "Switch"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c6f561bc-a26a-450a-b01b-1f0228d7eeae",
              "leftValue": "={{ $('Telegram Trigger').item.json.message.text }}",
              "rightValue": "/start",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        400,
        -352
      ],
      "id": "e35fca43-7008-4f43-8c42-22b753b340c5",
      "name": "periksa pesan"
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Selamat datang di asisten SOP Mania ! BIsa tanya terkait di bawah yah ! tinggal klik aja ges ><",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "Reimbursement 🎗️",
                    "additionalFields": {
                      "callback_data": "reimbursement"
                    }
                  },
                  {
                    "text": "CUTI 🐦‍🔥",
                    "additionalFields": {
                      "callback_data": "cuti"
                    }
                  },
                  {
                    "text": " Lembur🤣",
                    "additionalFields": {
                      "callback_data": "lembur"
                    }
                  },
                  {
                    "text": "Asuransi🏥",
                    "additionalFields": {
                      "callback_data": "asuransi"
                    }
                  },
                  {
                    "text": "Tools😍",
                    "additionalFields": {
                      "callback_data": "alat_kerja"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -432
      ],
      "id": "835e4f97-cd2a-4ad9-86ba-fcd96a24f028",
      "name": "True Output",
      "webhookId": "2d830150-4149-4d4d-b2b4-5f02c8b9ca98",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "Untuk Mulai Klik /start",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        608,
        -256
      ],
      "id": "9fe6893b-73b6-4eec-a74d-b94ef2fed68b",
      "name": "False Output",
      "webhookId": "2d830150-4149-4d4d-b2b4-5f02c8b9ca98",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.reimbursement }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        16
      ],
      "id": "07c8be54-c364-4ebc-a1df-181f2a48cbec",
      "name": "Kirim ( Reimbursement )",
      "webhookId": "94362719-1d40-44ca-b2d7-055e4edda28b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adfd17ba-b93f-4bf2-91a0-fa1c0278a97b",
              "name": "reimbursement",
              "value": "=🚀 Cara Gercep Reimburse (Anti-Ribet) \n\n1. Amankan Struk: Jangan sampe struk asli ilang atau mlehoy. Foto/Scan buat jaga-jaga.  \n\n2. Isi Form: Buka formulir kantor, input nominal & buat apanya. Jangan typo!  \n\n3. Lampirin Bukti: Tempel/upload bukti bayar aslinya. \n\n4. No bukti = Sedekah.  \n\n5. Setor ke Atasan: Kasihin ke Manajer buat di-ACC.  \n\n6. Tunggu 14 Hari: Sabar, saldo bakal masuk ke rekening dalam 14 hari kerja.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        32
      ],
      "id": "6399df63-6418-4270-ac76-581c84bb589e",
      "name": "Reimbursement"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adfd17ba-b93f-4bf2-91a0-fa1c0278a97b",
              "name": "cuti",
              "value": "=🏖️ Prosedur Cuti Anti-Ditolak\n\n1. Cek Jatah: Pastiin sisa cuti lo masih ada (jangan sampe minus, ntar malah dipotong gaji).\n\n2. Lapor Atasan: Bilang ke manajer minimal H-7 (biar doi nggak kaget lo tiba-tiba ngilang).\n\n3. Isi Form: Masuk ke aplikasi kantor atau isi formulir cuti. Tulis tanggal mulai sampe tanggal masuknya kapan.\n\n4. Handover Tugas: Kasih tau rekan tim lo kerjaan mana yang butuh di-handle pas lo absen. Jangan ninggalin beban ya!\n\n5. Tunggu Approval: Begitu statusnya Approved, langsung gas packing dan turn off notif kerjaan!",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        240
      ],
      "id": "cbc4f14b-d54c-4dea-a633-cab40537258d",
      "name": "Cuti"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353ac4c6-b286-47f1-96a5-59a9f3950f33",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=cuti",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        240
      ],
      "id": "b6312e8b-ee92-4236-aefa-7c7df28bdc99",
      "name": "true cuti"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.cuti }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        224
      ],
      "id": "8fb4549f-946d-4605-8261-04d42b3fee2b",
      "name": "Kirim ( cuti )",
      "webhookId": "94362719-1d40-44ca-b2d7-055e4edda28b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353ac4c6-b286-47f1-96a5-59a9f3950f33",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=alat_kerja",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        880
      ],
      "id": "f57fd6ad-41e6-4011-8ffc-e336b3518241",
      "name": "true cuti3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adfd17ba-b93f-4bf2-91a0-fa1c0278a97b",
              "name": "lembur",
              "value": "=🌙 SOP Lembur (Overtime)\n\n1. Izin Dulu: Wajib lapor/chat manajer sebelum lo mulai lembur. Jangan lembur diem-diem ntar nggak dibayar.\n\n2. Catat Kerjaaan: Isi logbook jam berapa mulai dan kelar, plus apa aja yang lo kerjain.\n\n3. Submit Form: Isi formulir lembur resmi biar masuk ke sistem penggajian.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        464
      ],
      "id": "e8f01eb8-22f6-4a6c-8817-a5ffa0e0d727",
      "name": "Lembur"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353ac4c6-b286-47f1-96a5-59a9f3950f33",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=lembur",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        464
      ],
      "id": "62414c48-b938-4d76-afd5-0ebe0166243a",
      "name": "true lembur"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.lembur }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        640,
        448
      ],
      "id": "42042758-1da1-4c1c-a4c3-45b2b74e5ebe",
      "name": "Kirim ( lembur )",
      "webhookId": "94362719-1d40-44ca-b2d7-055e4edda28b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adfd17ba-b93f-4bf2-91a0-fa1c0278a97b",
              "name": "asuransi",
              "value": "=🏥 SOP Klaim Asuransi Kesehatan\n\n1. Siapin Kartu: Bawa kartu asuransi fisik atau buka aplikasi e-card lo.\n\n2. Cek RS Rekanan: Pastiin ke RS yang kerjasama biar bisa cashless (tinggal gesek).\n\n3. Metode Reimburse: Kalo ke RS biasa, wajib minta kuitansi asli + surat diagnosa dokter buat di-upload ke portal HR.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        688
      ],
      "id": "e4bf0712-c28e-4738-b1a3-8cada9baf6da",
      "name": "Asuransi"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353ac4c6-b286-47f1-96a5-59a9f3950f33",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=asuransi",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        240,
        688
      ],
      "id": "f24d6f16-7d2c-4f43-94d6-8adb95142e61",
      "name": "true asuransi"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.asuransi }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        672
      ],
      "id": "e28ed884-1d79-40c8-882e-732147720a78",
      "name": "Kirim ( asuransi )",
      "webhookId": "94362719-1d40-44ca-b2d7-055e4edda28b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "adfd17ba-b93f-4bf2-91a0-fa1c0278a97b",
              "name": "alat_kerja",
              "value": "=💻 SOP Minta Alat Kerja / Upgrade\n\n1. Alasan Kuat: Jelasin kenapa butuh barang baru (misal: \"Laptop udah sering Blue Screen pas lagi meeting\").\n\n2. Persetujuan Atasan: Minta tanda tangan atau izin tertulis dari manajer lo.\n\n3. Hubungi IT/GA: Kirim tiket/permintaan resmi ke tim IT atau bagian umum (GA).\n\n4. Serah Terima: Pas barang dateng, cek kondisinya dan tanda tangan berita acara serah terima.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        64,
        880
      ],
      "id": "16633f99-4ccc-45fa-990e-aae488a133ae",
      "name": "Alat Kerja"
    },
    {
      "parameters": {
        "chatId": "={{ $('Switch').item.json.callback_query.message.chat.id }}",
        "text": "={{ $json.alat_kerja }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        672,
        864
      ],
      "id": "2a0cf61a-e5b5-4c23-a090-8222f36f3afa",
      "name": "Kirim ( Alat Kerja )",
      "webhookId": "94362719-1d40-44ca-b2d7-055e4edda28b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "353ac4c6-b286-47f1-96a5-59a9f3950f33",
              "leftValue": "={{ $('Switch').item.json.callback_query.data }}",
              "rightValue": "=reimbursement",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        224,
        32
      ],
      "id": "14dba283-e148-4691-ab57-06b2b8e3736b",
      "name": "true reimbursement"
    },
    {
      "parameters": {
        "content": "## /START \n",
        "height": 368,
        "width": 464
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        352,
        -464
      ],
      "typeVersion": 1,
      "id": "e2b1b3dc-413f-4598-a26f-9e2cb7ac6649",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## USER CLICK REIMBURSEMENT \n",
        "height": 176,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        0
      ],
      "typeVersion": 1,
      "id": "79d171ff-4d5f-47df-a69f-a71060a3a4b3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## USER CLICK CUTI\n\n",
        "height": 176,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        224
      ],
      "typeVersion": 1,
      "id": "1d2e9b08-4647-448e-a9dc-3e3a188343cd",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## USER CLICK LEMBUR\n\n\n",
        "height": 176,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        432
      ],
      "typeVersion": 1,
      "id": "244adb9b-3360-4c17-91f0-9c4a6d56e934",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## USER CLICK ASURANSI\n\n\n",
        "height": 176,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        656
      ],
      "typeVersion": 1,
      "id": "138c744a-11f7-4ac9-bb50-f96a2737291a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## USER CLICK PENGADAAN ALAT KERJA\n\n",
        "height": 176,
        "width": 1408
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -496,
        880
      ],
      "typeVersion": 1,
      "id": "516f89a6-c37c-4e6d-9a34-ee3953a980c5",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "content": "## Input text / klik button \n",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -224,
        -400
      ],
      "typeVersion": 1,
      "id": "f1a7cdb1-2bb9-4e9c-8d1f-b04778c6924f",
      "name": "Sticky Note6"
    },
    {
      "parameters": {
        "content": "## Pembagian daerah \n",
        "height": 240,
        "width": 256
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        64,
        -400
      ],
      "typeVersion": 1,
      "id": "906157dd-cce1-4712-8a9b-07696e2c4ed3",
      "name": "Sticky Note7"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "periksa pesan",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "periksa pesan": {
      "main": [
        [
          {
            "node": "True Output",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reimbursement": {
      "main": [
        [
          {
            "node": "true reimbursement",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cuti": {
      "main": [
        [
          {
            "node": "true cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true cuti": {
      "main": [
        [
          {
            "node": "Kirim ( cuti )",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true cuti3": {
      "main": [
        [
          {
            "node": "Kirim ( Alat Kerja )",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lembur": {
      "main": [
        [
          {
            "node": "true lembur",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true lembur": {
      "main": [
        [
          {
            "node": "Kirim ( lembur )",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asuransi": {
      "main": [
        [
          {
            "node": "true asuransi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "true asuransi": {
      "main": [
        [
          {
            "node": "Kirim ( asuransi )",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Alat Kerja",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Alat Kerja": {
      "main": [
        [
          {
            "node": "true cuti3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "True Output": {
      "main": [
        []
      ]
    },
    "true reimbursement": {
      "main": [
        [
          {
            "node": "Kirim ( Reimbursement )",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cuti",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ad232cc5-09db-4368-8011-88ef282ff6ef",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c0ef153f7930e565ad160435282be5c9c56963458788d102e98ccae3c60878"
  },
  "id": "1iKN0UQ8dLXawo7v",
  "tags": []
}