Tugas 2 - Ghiyadhika - Implementasi ai untuk SDM - Auto generated interview question.json
{
  "name": "Tugas 2 - Modul 8 Implementasi ai untuk SDM - auto generated interview question",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "7e4109d4-8866-43bb-a289-7e48f6afdaad",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "jsCode": "return [\n  {\n    json: {\n      id: 101,\n      candidate_name: \"Budi Santoso\",\n      email: \"budi.devops@email.test\",\n      position: \"Senior DevOps Engineer\",\n      claimed_skills: \"Kubernetes, Helm, Terraform\",\n      past_company_type: \"Agensi Digital Marketing (Non-Tech Product)\",\n      years_experience: 3,\n      interview_status: \"Scheduled\"\n    }\n  },\n  {\n    json: {\n      id: 102,\n      candidate_name: \"Siti Aminah\",\n      email: \"siti.backend@email.test\",\n      position: \"Backend Engineer\",\n      claimed_skills: \"Microservices, Kubernetes, GoLang\",\n      past_company_type: \"Bank Konvensional (Legacy System)\",\n      years_experience: 5,\n      interview_status: \"Scheduled\"\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        0
      ],
      "id": "e977421f-f192-422e-a8cf-98f260068ebc",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "658d27a1-5a5e-4e15-983c-2c661a48750e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "for (const item of items) {\n  const candidate = item.json;\n  const role = candidate.position || \"Software Engineer\";\n  const skills = candidate.claimed_skills;\n  const background = candidate.past_company_type;\n  \n  const systemPrompt = `\nRole: Senior Technical Interviewer (${role})\n\nKandidat: ${candidate.candidate_name}\nSkill: ${skills}\nBackground: ${background}\n\nTUGAS:\nBuat 3 (BUKAN 5) pertanyaan studi kasus untuk menguji kedalaman teknis kandidat.\nFokus: troubleshooting & trade-off arsitektur.\n\nATURAN:\n- Bahasa Indonesia\n- Singkat, padat, tajam\n- TOTAL <= 1500 karakter\n- Hindari penjelasan panjang\n\nFORMAT:\n1. Topik: ...\n   Q: ...\n   A: poin penting saja (max 2-3 bullet / singkat)\n`;\n\n  item.json.llm_prompt = systemPrompt;\n\n  // 🔥 HARD LIMIT biar gak jebol Telegram\n  if (item.json.text) {\n    let text = item.json.text;\n\n    const MAX_LENGTH = 4000;\n\n    if (text.length > MAX_LENGTH) {\n      text = text.substring(0, MAX_LENGTH);\n\n      const lastDot = text.lastIndexOf(\".\");\n      if (lastDot > 0) {\n        text = text.substring(0, lastDot + 1);\n      }\n    }\n\n    item.json.text = text;\n  }\n}\n\nreturn items;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        16
      ],
      "id": "43ec5ee0-4860-4873-a315-8a5c399feca0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.llm_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        880,
        16
      ],
      "id": "4b75e647-575c-4aab-8364-6e2899766302",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "=Nama kandidat: {{ $('Code in JavaScript').item.json.candidate_name }}\n{{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1280,
        16
      ],
      "id": "31a8ed90-979e-483f-84cd-36f585ca09e0",
      "name": "Send a text message",
      "webhookId": "38dc6317-9d6f-45f6-abd8-5d3181559721",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b:free",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1584,
        128
      ],
      "id": "2c632903-f846-45f1-b562-cb10a6b70be1",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "2j8B6sTmCQLaXBDp",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.eval_prompt }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        1584,
        400
      ],
      "id": "d599fdc6-a75c-46cb-b743-deb5a63d2cc5",
      "name": "Basic LLM Chain1"
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "=Nama kandidat: {{ $('Code in JavaScript').item.json.candidate_name }} {{ $json.text }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1920,
        400
      ],
      "id": "e8be5c25-7310-4d89-a55b-a0b12f13da9f",
      "name": "Send a text message1",
      "webhookId": "38dc6317-9d6f-45f6-abd8-5d3181559721",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const aiQuestion = items[0].json.text; \n\n\nconst candidateName = $('Loop Over Items').item.json.candidate_name;\n\nlet mockAnswer = \"\";\n\nif (candidateName.includes(\"Budi\")) {\n  mockAnswer = \"Untuk masalah CrashLoopBackOff, saya akan cek logs pod pakai kubectl logs, lalu describe pod untuk lihat events. Biasanya karena configmap salah atau app panic saat startup.\";\n} else {\n  mockAnswer = \"Saya biasanya restart servernya pak. Kalau masih error saya install ulang Kubernetesnya.\";\n}\n\nreturn [\n  {\n    json: {\n      question: aiQuestion,\n      candidate_answer: mockAnswer,\n      candidate_name: candidateName\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ],
      "id": "7f93d67c-684c-4f3e-80a8-1a6cbdb66c3e",
      "name": "mock jawaban"
    },
    {
      "parameters": {
        "jsCode": "const data = items[0].json;\n\nconst prompt = `\nROLE: You are a Senior Hiring Manager.\nTASK: Evaluate the candidate's answer based on the technical question provided.\n\nDATA:\n- Candidate Name: ${data.candidate_name}\n- Question Given: \"${data.question.substring(0, 200)}...\" (Truncated for brevity)\n- Candidate Answer: \"${data.candidate_answer}\"\n\nINSTRUCTION:\nGive a score (0-100) and a brief critique.\n- If the answer shows deep troubleshooting steps (logs, events, root cause), give HIGH score.\n- If the answer is generic (restart server, reinstall), give LOW score (Red Flag).\n\nOUTPUT FORMAT (Indonesian):\n**Penilaian untuk ${data.candidate_name}**\n--------------------------\n🎯 **Skor:** [0-100]\n💡 **Analisa:** [Penjelasan singkat 1 kalimat]\n🚫 **Keputusan:** [LOLOS / GAGAL]\n`;\n\nreturn [\n  {\n    json: {\n      eval_prompt: prompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        400
      ],
      "id": "416813bb-4150-4fe3-b78c-51457b363a88",
      "name": "Evaluasi"
    },
    {
      "parameters": {
        "model": "qwen/qwen3-32b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        880,
        224
      ],
      "id": "9f257992-ca6d-4760-ad65-2c5c8e5e0851",
      "name": "Groq Chat Model1",
      "credentials": {
        "groqApi": {
          "id": "VHJBc5uArI2eFUra",
          "name": "Groq account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          },
          {
            "node": "mock jawaban",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "mock jawaban": {
      "main": [
        [
          {
            "node": "Evaluasi",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Evaluasi": {
      "main": [
        [
          {
            "node": "Basic LLM Chain1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5c276487-4115-49f1-aafa-f860ec7fc8d5",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c0ef153f7930e565ad160435282be5c9c56963458788d102e98ccae3c60878"
  },
  "id": "Ob0QxauxYGjtzJjs",
  "tags": []
}