Tugas 4 - Modul 8 Implementasi ai untuk SDM -  SOP AI Agent.json
{
  "name": "Tugas 4 - Modul 8 Implementasi ai untuk SDM -  SOP AI Agent",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        208
      ],
      "id": "2f191357-de0c-40e1-a138-0e71887f304f",
      "name": "Telegram Trigger",
      "webhookId": "26ce55ae-89ae-411b-a4b3-4cf4b966ca09",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Anda adalah SOP AI Agent.\n\nATURAN KERAS:\n\nAnda WAJIB menggunakan TOOL \"Data Pertanyaan\" sebelum menjawab.\n\nJawaban HARUS diambil dari hasil tool.\n\nDILARANG menggunakan pengetahuan umum.\n\nJika data tidak ditemukan, jawab: \"Maaf, informasi tersebut tidak tersedia di SOP.\"\n\nPertanyaan pengguna:\n{{ $node[\"Telegram Trigger\"].json.message.text }}\n\nJawaban berdasarkan SOP:",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -144,
        192
      ],
      "id": "a7ec6fd2-2432-4a5a-841a-a45f888b3899",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "=Pertanyaan yang Anda kirimkan tidak sesuai, harap gunakan pertanyaan dibawah ini:   \n1. Bagaimana prosedur reimbursement \n2. Prosedur pengajuan cuti tahunan \n3. Bagaimana aturan lembur diperusahaan? \n4. Apa syarat klaim asuransi kesehatan \n5. Bagaimana prosedur permintaan alat kerja baru?",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -576,
        464
      ],
      "id": "278dea9e-78b6-4c53-985c-42cf091bd1da",
      "name": "False Output",
      "webhookId": "dbdacf55-8b28-40e0-bea6-0f1d5f22152b",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        -144,
        384
      ],
      "id": "22e1f4f6-6ba6-41de-ab9d-b632e1fe0ab6",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "VHJBc5uArI2eFUra",
          "name": "Groq account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1tithXVPvdXW-GTWasECySPGiaBXuvc_YlnHWAoQQw7Q",
          "mode": "list",
          "cachedResultName": "Data Pertanyaan untuk Karyawan",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tithXVPvdXW-GTWasECySPGiaBXuvc_YlnHWAoQQw7Q/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1tithXVPvdXW-GTWasECySPGiaBXuvc_YlnHWAoQQw7Q/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        16,
        400
      ],
      "id": "af99e4eb-236f-4e2d-bf31-233f51e2716a",
      "name": "Data Pertanyaan",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yNT5WIejGCDxPaij",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5701993759",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        208,
        192
      ],
      "id": "312bd167-c7a5-46c8-b5ea-e7d6144e6536",
      "name": "Send a text message",
      "webhookId": "642a6841-6bea-4aaa-af86-6344c75c7dc0",
      "credentials": {
        "telegramApi": {
          "id": "iHhuo0IrSpXaEYSm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "41d11233-7f4f-4e44-8ef1-e2c77fd0fc0d",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "644ced0b-e974-446b-a9dc-f53801210ebb",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "13613603-e559-4a3a-a6a5-9689f505b322",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana aturan lembur diperusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "01d51f5e-40cc-481c-82cd-db7841c77617",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Apa syarat klaim asuransi kesehatan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "08ce68ba-0965-47e2-bef2-d606ece9e86f",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "cc41e84d-a642-4a72-9793-b2fe81cab600",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "1. Bagaimana prosedur reimbursement",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "de9bb579-105c-40d4-951b-027acf2a9f33",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "2. Prosedur pengajuan cuti tahunan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "bbd5bcfc-9167-40eb-b403-27bd7cd01120",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "3. Bagaimana aturan lembur diperusahaan?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "c0cf7b48-c40b-4cde-84d6-96c6c704ba7e",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "4. Apa syarat klaim asuransi kesehatan",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            },
            {
              "id": "007f1d48-4c6c-4f72-8e93-27b512dca670",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "5. Bagaimana prosedur permintaan alat kerja baru?",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -576,
        208
      ],
      "id": "a122edc9-0d16-4e37-b308-b0cafafceb72",
      "name": "Memastikan sesuai format"
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Memastikan sesuai format",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Data Pertanyaan": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Memastikan sesuai format": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "False Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "2df18851-7d2a-419b-b82c-917799639cd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "32c0ef153f7930e565ad160435282be5c9c56963458788d102e98ccae3c60878"
  },
  "id": "RBZsDg9BEhgnFGep",
  "tags": []
}